<%= @time.strftime("%A")%> Week <%=   @week_number  %>

<form action="">
  <select name="studentOne" id="">
    <% @students.each do |student| %>
      <option value="<%= student %>">
        <%= student %>
      </option>
    <%end%>
  </select>
  <select name="studentTwo" id="">
    <% @students.each do |student| %>
      <option value="<%= student %>">
        <%= student %>
      </option>
    <%end%>
  </select>
  <input type="submit" value="confirm pair"></input>
</form>
