TODAY;
<h1><%= @time.strftime("%A")%> Week <%= @week_number %></h1>


======================================================================================================================================================================

<P>PAIR ADDING!!!</P>

<% if @available_students.empty? %>
    <p> All Paired!!! </p>
<% else %>
  <%= form_for Pair.new do |pair| %>
    <%= pair.select(:pairingDate) do %>
      <% @dates.each do |date| %>
        <%= content_tag(:option, date, value: date) %>
      <% end %>
    <% end %>
    <%= pair.select(:studentOne) do %>
      <% @available_students.each do |student| %>
        <%= content_tag(:option, student, value: student) %>
      <% end %>
    <% end %>
    <%= pair.select(:studentTwo) do %>
      <% @available_students.each do |student| %>
        <%= content_tag(:option, student, value: student) %>
      <% end %>
    <% end %>
    <%= pair.submit %>
  <% end %>
<% end %>



Pairs chosen and the days they were chosen on:

<% @pairs.each do |pair| %>
  <p>
    <%= pair.studentOne %> & <%= pair.studentTwo %>: <%= pair.pairingDate %>
    <%= link_to "Delete", pair_path(pair), method: :delete %>
  </p>
<% end %>
